body {
    display: flex;
    flex-direction: column;
    background-color: #EFD28D;
    font-family: 'Abel', sans-serif;
}

.hiddenMobile {
    display: none;
}

.borderbox {
    border-radius: 25px;
    margin: 2px;
    background-color: #00AFB5;
}

h5 {
    color: #ff7700;
    text-shadow: 1px 1px black,
                 1px -1px black,
                 -1px 1px black,
                 -1px -1px black;
}

h1 {
    color: #ff7700;
    text-shadow: 1px 1px black,
                 1px -1px black,
                 -1px 1px black,
                 -1px -1px black;
    font-size: 3em;
    margin: 0;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.nav > a {
    padding: 25px;
    width: 30px;
}

a > img {
    width: 100%;
}

.calendar {
    display: flex;
}

.calendar1 {
    flex: 1;
}

.calendar2 {
    flex: 1;
}

form {
    text-align: left;
}

.search {
    display: flex;
}

.search * {
    margin: 0;
}

.messages {
    display: flex;
}

.messages > p {
    font-size: 0.6em;
}

.profiles {
    display: flex;
}

@media only screen and (min-width:479px) {
    .calendar {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .main {
        display: flex;
        flex-direction: row;
    }

    .right {
        display: flex;
        flex-direction: column;
        flex: 4;
    }

    .main {
        margin: 2%;
        font-size: 1.5em;
        text-align: center;
    }

    .borderbox {
        margin: 5px;
    }

    .nav {
        margin: 1%;
    }

    .hiddenMobile {
        display: block;
        font-style: italic;
        font-size: 1.7em;
    }
}